@font-face {
  font-family: "Roboto";
  src: url(https://www.dafont.com/fr/roboto.font/Roboto-Thin.ttf) format("truetype");
  font-family: "Playlist";
  src: url("../font/subset-Playlist-Script.ttf") format("truetype");
}
body, htlm, header,h1{
  margin: 0px;
  padding: 0px;
}
header,body,html{
  width: 100%;
  font-family: "Roboto";
}

body{
  background-color: #f1ebec;
}
header{
  background: url("../pictures/salomeleroux.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center 56px;
  background-attachment: fixed;
  height: 618px;
  }
header nav.navbar{
  position: fixed;
  width: 1525px;
  z-index: 100;
}
.wrapper{
  display: table;
  width: 100%;
  height: 100%;
}

h1{
  font-family: "Playlist";
  font-size: 23px;
}
h2{
  font-family: "Playlist";
  text-align: center;
  font-size: 45px;
  color: #9e9292;
}
h3{
  font-family: "Playlist";
  text-align: center;
  font-size: 30px;
  color: #d98b76;
}
.main{
  max-width: 650px;
  margin: 80px auto;
}
.articles{
  margin-right: -15px;
  margin-left: -15px;
  display: flex;
  text-align: center;
}
.ecrit{
  text-align: justify;
}
.certification{
  text-align: justify;

}
.col-lg-4 ul li{
  text-align: left;
  margin: 0 0 0 95px;
}
table,
td {
    border: 3px solid #e2b9ac;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background-color: #FFF;
}
footer{
  font-family: "Roboto";
  font-size: 23px;
  color: 33 37 41;
  text-align:center;
  background-color: #e2b9ac;
  height: 55px;
  line-height: 55px;
}

@media screen and (max-width: 700px) {
  header{
    background: url("../pictures/salomeleroux.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center 56px;
    background-attachment: fixed;
    height: 200px;
  }

  header nav.navbar{
    position: fixed;
    display: block;
    width: 360px;
    height: 30px;
    z-index: 100;
  }

  #navbarSupportedContent {
    display: block;
  }

  #navbarSupportedContent ul.navbar-nav {
    display: block;
  }


  #navbarSupportedContent ul li {
    display: inline;
  }

  .articles{
    display: block;
    text-align: center;
  }
  table, td {
  width: auto;
  height: auto;
  padding: 10px;
  }

}
